/* CardGrid.css */
.card-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* 10 columns on desktop */
    gap: 16px; /* Space between cards */
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 50px;
    align-items: baseline;
}

@media (max-width: 768px) {
    .card-grid {
        grid-template-columns: repeat(3, 1fr); /* 3 columns on mobile */
    }
}